$primary:rgb(0, 174, 255);
$secondary:rgb(123, 0, 255);
$bg-color : #121212;
$bg-card : rgb(24, 1, 48);
body{
    font-family: "Titan One", sans-serif;
    color: white;
    background-color: $bg-color;
}


header{
    background-color: $bg-color;
    position : fixed;
    width : 100%;
    box-shadow : 0px 0px 10px 6px $secondary;
    top : 0;
    .navbar{
        background-color : rgba(0, 0, 0, 0) !important;
        .navbar-brand{
            color: white !important;
        }
        .nav-link {
            color: white !important;
        }
            
    }
}

main{
    margin-top: 70px;

    section>h1{
        text-align: center;
    }

    hr{
        border: 2px solid $secondary;
        margin-bottom : 20px;
    }

    .hero{
        display: flex;
        justify-content : space-between;
        align-items: center;
        .left{
            .hello{
                font-size : 2em;
            }
            .quote{
                font-size: 2em;
            }
            .social{
                a{
                    margin-right : 10px;
                    i{
                        color: $secondary;
                        font-size : 2em;
                    }
                }
            }
        }
    }


    .projects{
        .cards{
            .card-my{
                display: flex;
                justify-content : space-between;
                background-color: $bg-card;
                padding : 20px;
                border-radius : 10px;
                border: 3px solid rgb(16, 1, 127);
                .image{
                    width: 20%;
                    img{
                        width : 100%;
                        border-radius : 10px;
                        margin-bottom : 10px;
                    }
                }
                .text{
                    margin-left: 30px;
                    width: 80%;
                    color:white;
                    h2{
                        margin-bottom : 30px;

                    }
                    p{
                        font-size : 1.2em;
                    }
                }
            }
        }
    }
}